<html>
<head>
  <style>
    body {
      background-color: #F1F1F1;
    }
    a {
      color: #696969;
    }
    a:visited {
      color: #696969;
    }
    a:hover {
      color: #151515;
    }
    p {
      color: #273237;
      font-family: sans-serif;
      font-size: 30px;
      font-weight: bold;
    }
  </style>
</head>
  <body>
    <p>The new word could not be added. </p>
    <p>Would you like to try adding it again?</p>
    <a href="/add"> Yes, please! </a>
    <a href="/"> No, take me to the home page. </a>
  </body>
</html>
